In [3]:
import pandas as pd
dic = {"22":[1, 0], "33":[2, 3]}
df = pd.DataFrame(dic)
df["22"][0] += 15
df

   22  33
0  16   2
1   0   3

In [12]:
import pa3

In [2]:
url = "https://ceiba.ntu.edu.tw/course/88ca22/content/training.txt"
training_df = pa3.get_training_df(url)

In [3]:
from pa2 import Dictionary

all = Dictionary()
all.preprocess_all_file("D:\Desktop\IR\PA2\IRTM")

In [4]:
train_term = pa3.train_term_extract(all, training_df)
term_cat_matrix = pa3.term_cat_making(train_term)  ## type: dict, make a matrix for each term

In [5]:
term_cat_matrix["navi"].shape

(14, 8)

In [6]:
term_cat_matrix["navi"]

        present  absent  n11  n10  n01  n00  likelihood_ratio  chi_sqr
cat_0       7.0     8.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_1       0.0    15.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_2       0.0    15.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_3       3.0    12.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_4       0.0    15.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_5       0.0    15.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_6       0.0    15.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_7       5.0    10.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_8      12.0     3.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_9       0.0    15.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_10      0.0    15.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_11      0.0    15.0  NaN  NaN  NaN  NaN               NaN      NaN
cat_12      0.0    15.0  NaN  NaN  NaN  NaN               NaN      NaN
sum        27.0   168.0  0.0  0.0  0.0  0.0               0.0      0.0

In [13]:
term_cat_matrix["navi"]
temp = pa3.fill_nx(term_cat_matrix["navi"])

In [3]:
print("54")

54